/* path styles */
path {
	fill:none;
	pointer-events: all;
}
/*
path:hover {
	stroke:#00f;
	stroke-width: 3px;
}*/

#contentHolder {
	min-width: 1000px;
	min-height: 750px;
	position: relative;
}

#header {
}

#mapHolder {
	width: 1000px;
	position: relative;
	margin: 0 auto;
}

#selectDiv {
	float: left;
}

#mapDiv {
	float: right;
	width: 700px;
	height: 700px;
}

#mapLegend {
	margin: 0 auto;
	bottom: 0;
	left: 0;
	right: 0;
}

#mapLegend svg {
	display: block;
	margin: 0 auto;
}

#mapLegend svg text {
	fill: #fff;
}

